@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "variables.css";
@import "layout.css";
@import "components.css";


.menu-mobile {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}


@media (max-width: 1200px) {
  main { grid-template-columns: repeat(8, 1fr); }
}

@media (max-width: 992px) {
  header nav ul { gap: var(--espaco-1); }
}

@media (max-width: 768px) {
  .menu-mobile { display: block; }
  header nav ul { 
    display: none;
    flex-direction: column;
    background: var(--cor-primaria);
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding: var(--espaco-2);
  }

  header nav ul.ativo {
    display: flex;
  }

  main { grid-template-columns: repeat(4, 1fr); }
}

@media (max-width: 576px) {
  main { grid-template-columns: 1fr; }
}
